<div id="<%= dom_id account %>">
  <p>
    <strong>Subscription type:</strong>
    <%= account.subscription_type %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= account.author_id %>
  </p>

</div>
